@model IEnumerable<ClinicaPokemon.Models.Armadietti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroArmadietto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroArmadietto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idArmadietto }) |
            @Html.ActionLink("Details", "Details", new { id = item.idArmadietto }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idArmadietto }) |
            @Html.ActionLink("Visualizza cassetti", "Index", "Cassetti", new { FK_idArmadietto = item.idArmadietto }, null)

        </td>
    </tr>
}

</table>
