@model IEnumerable<ClinicaPokemon.Models.Cassetti>

@{
    ViewBag.Title = "Index";
}

<style>
    body{
        background-color: #002171;
    }
    .card {
        background-color: #002171;
    }
</style>

<div class="container">
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="col-md-6 ">
                <div class="card border-white my-3">
                    <div class="card-body">
                        <h5 class="card-title text-white">Numero Cassetto: @Html.DisplayFor(modelItem => item.NumeroCassetto)</h5>

                        @*<a href="@Url.Action("Edit", "YourController", new { id=item.idCassetto })" class="card-link">Modifica</a>
                            <a href="@Url.Action("Details", "YourController", new { id=item.idCassetto })" class="card-link">Dettagli</a>
                            <a href="@Url.Action("Delete", "YourController", new { id=item.idCassetto })" class="card-link">Elimina</a>*@
                        <a href="@Url.Action("Index", "Prodotti", new { id=item.idCassetto })" class="btn btn-dark text-white">Visualizza Prodotti Presenti</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

