@model IEnumerable<ClinicaPokemon.Models.Ricoveri>

@{
    ViewBag.Title = "Index";
}

<h2>Ricoveri</h2>

<p>
    @Html.ActionLink("Indietro", "Index", "Animali")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Ricoveri Rimborsabili", "GetRicoveriAttivi", new { }, new { @class = "btn btn-success rounded-1 my-2", style = "width: auto;", @onclick = "activeRicoveri(); return false;" }))
</p>
<p id="ricoveriData"></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animali.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInizioRicovero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FotoAnimale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoRicovero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animali.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInizioRicovero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FotoAnimale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoRicovero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRicovero }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idRicovero })
        </td>
    </tr>
}

</table>

<script>
    function activeRicoveri() {
        $.ajax({
            url: '@Url.Action("GetRicoveriAttivi", "Ricoveris")',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var html = '';
                for(var i = 0; i < data.length; i++) {
                    html += '<p>' + data[i].Animali.Nome + ' - ' + data[i].DataInizioRicovero + ' - ' + data[i].FotoAnimale + ' - ' + data[i].PrezzoRicovero + ' - ' + data[i].Attivo + '</p>';
                }
                $('#ricoveriData').html(html);
            },
            error: function(error) {
                console.log(error);
            }
        });
     }
    $(document).ready(function() {
        activeRicoveri();
    });
</script>