@model ClinicaPokemon.Models.Visite

@{
    ViewBag.Title = "Delete";
}

<div id="crud-bg">
    <h2 class="text-center text-white fw-bold display-3 pb-2 my-4 shadow">Elimina Visita</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-white bg-opacity-50">
                    <div class="card-header">
                        <h4 class="mb-0">Conferma eliminazione</h4>
                    </div>
                    <div class="card-body">
                        <h3 class="mt-2 mb-4">Sei sicuro di voler eliminare questa visita?</h3>
                        <dl class="row">
                            <dt class="col-sm-4">
                                Nome:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Animali.Nome)
                            </dd>

                            <dt class="col-sm-4">
                                Data visita:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.DataVisita)
                            </dd>

                            <dt class="col-sm-4">
                                Esame obiettivo:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.EsameObiettivo)
                            </dd>

                            <dt class="col-sm-4">
                                Descrizione cura:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.DescrizioneCura)
                            </dd>
                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                    <div class="form-group text-center">
                        @Html.ActionLink("Indietro", "Index", null, new { @class = "btn btn-dark ms-2" })
                        <input type="submit" value="Elimina" class="btn btn-danger" />
                    </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}