@model IEnumerable<ClinicaPokemon.Models.Visite>

@{
    ViewBag.Title = "Index";
    var idAnimale = Request.QueryString["idAnimale"];
}

<h2>Visite precedenti</h2>

<p>
    @Html.ActionLink("Indietro", "Index", "Animali", new { idAnimale = idAnimale }, null)
</p>
<p>
    @Html.ActionLink("Nuova visita", "Create", "Visite", new { idAnimale = idAnimale }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animali.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataVisita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsameObiettivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescrizioneCura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Animali.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataVisita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsameObiettivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescrizioneCura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idVisita }) |
            @Html.ActionLink("Details", "Details", new { id=item.idVisita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idVisita })
        </td>
    </tr>
}

</table>
