@model IEnumerable<ClinicaPokemon.Models.Animali>

@{
    ViewBag.Title = "Index";
}

<div id="background">
    <div id="pokedex">
        <div id="action-container">
            @Html.ActionLink("Vai a Ricoveri", "Index", "Ricoveris", new { }, new { @class = "custom-action text-decoration-none fw-bold" })
        </div>
        <div id="add-container">
            @Html.ActionLink(" ", "Create", new { }, new { @class = "custom-action add-action bi bi-plus-circle-fill" })
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var item = Model.ElementAt(i);
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="@item.Immagine" class="d-block w-100" alt="@item.Nome">
                        <div id="button-container">
                            @Html.ActionLink("Modifica", "Edit", new { id = item.idAnimale }, new { @class = "text-decoration-none text-white px-4 btn btn-dark fw-bold" })
                            @Html.ActionLink("Visite", "Index", "Visite", new { idAnimale = item.idAnimale }, new { @class = "text-decoration-none text-white px-4 btn btn-info fw-bold" })
                        </div>
                        <div class="pkm-description">
                            <p class="m-0 p-0">@item.Utenti.Cognome @item.Utenti.Nome</p>
                            <p class="m-0 p-0">Nome: @item.Nome</p>
                            <p class="m-0 p-0">Tipo: @item.Tipologia</p>
                            <p class="m-0 p-0">Colore: @item.Colore</p>
                            <p class="m-0 p-0">Data Nascita: @item.DataNascita.ToString("dd/MM/yyyy")</p>
                            <p class="m-0 p-0">Microchip: @(item.Microchip ? "Si" : "No")</p>
                            <p class="m-0 p-0">Numero Chip: @(item.Microchip ? item.NrMicro : "---")</p>
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <i class="text-dark fs-1 bi bi-caret-left-fill"></i>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <i class="text-dark fs-1 bi bi-caret-right-fill"></i>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


