@model ClinicaPokemon.Models.DettagliVendita

@{
    ViewBag.Title = "Delete";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="fw-bold text-center">Sei sicuro di volerlo eliminare?</h3>
            <div class="card bg-white bg-opacity-50">
                <div class="card-body">
                    <h4 class="card-title">Dettagli vendita</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Prodotti.NomeProdotto)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Prodotti.NomeProdotto)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Vendite.idVendita)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Vendite.idVendita)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Quantita)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Quantita)
                        </dd>
                    </dl>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
        <div class="form-group text-center mt-3">
            @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-dark" })
            <input type="submit" value="Elimina" class="btn btn-danger" />

        </div>
            }
        </div>
    </div>
</div>