@model IEnumerable<ClinicaPokemon.Models.DettagliVendita>
@using ClinicaPokemon.Models

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Prodotti Venduti In Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-dark" id="modalContent">
                    <!-- I dati verranno inseriti qui -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-white">Dettagli</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prodotti.NomeProdotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prodotti.Tipo)
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.Vendite.idVendita)*@ Numero Vendita
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Quantita)*@ Quantità
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prodotti.NomeProdotto)
                </td>
                @if (item.Prodotti.Tipo)
                {
                    <td class="card-text fw-bold">Alimento</td>
                }
                else
                {
                    <td class="card-text fw-bold">Medicinale</td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Vendite.idVendita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantita)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.idDettagli }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idDettagli }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.idDettagli }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
    <input type="date" id="datePicker" class="form-control">
    <button type="button" class="btn btn-primary" id="showModalButton">
        Mostra Prodotti Venduti In Data
    </button>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#showModalButton').click(function () {
                    var selectedDate = $('#datePicker').val();
                    $.get('/DettagliVendita/ProdottiVendutiInData', { data: selectedDate })
                        .done(function (data) {
                            $('#modalContent').html(data);
                            $('#myModal').modal('show');
                        })
                        .fail(function () {
                            $('#modalContent').html('<p>Si è verificato un errore nel caricamento dei dati.</p>');
                            $('#myModal').modal('show');
                        });
                });
            });
        </script>
    }

</div>



